<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Data Fetched from database</h2>
    <ul>
        <%value.forEach((val)=>{%>
           <%for(let ele in val){%>
                <li><%=(ele +" : " +val[ele])%></li>
            <%}%>
        <%})%>
    </ul>
    
        
    
</body>
</html>